node_modules
.pnpm-store
.turbo
.next
dist
coverage
*.log
.env
.env.*.local
.env.local
.env.production
.env.development
!.env.example
.DS_Store
Thumbs.db
*.tsbuildinfo
prisma/migrations/.migrate
uploads/
apps/api/uploads/
apps/api/dist
apps/web/.next
apps/web/out
